
.eventImg {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 2px solid rgba(84, 84, 84, 0.251);
    img {
      width: 100%;
      height: 100%;
      border-radius: 5%;
    }
    .add_svg {
      font-size: 18px;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.185);
      svg{
        animation: none;
        &:active{
            color: white;
          }
      }
     
    }
    .img_input {
      opacity: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      input {
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        border-radius: 50%;
        opacity: 0;
        cursor: pointer;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.53);
        border-radius: 50%;
      }
    }
  }

  .imgPreview {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 2px solid rgba(84, 84, 84, 0.251);
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .remove_btn{
      position: absolute;
      color: rgba(255, 0, 0, 0.875);
      font-size: 16px;
      right: -3px;
      top: -8px;
      cursor: pointer;
      &:active{
        color: rgb(255, 255, 255);
      }
    }
  }